<a href="https://colab.research.google.com/github/Gandham-Sony/AI-assignment-app/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)

In [5]:
import pandas as pd

In [2]:
import os
os.getcwd()

'/content'

In [9]:
# os.chdir(r"C:\Users\gandh\Downloads")

To upload files from your local system to Colab, use the `files.upload()` function. A button will appear allowing you to select your file.

In [7]:
dfx = pd.read_excel('data_studentlist.xls')
dfx

FileNotFoundError: [Errno 2] No such file or directory: 'data_studentlist.xls'

In [14]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
val

two    -1.2
four   -1.5
five   -1.7
dtype: float64

In [16]:
df = pd.DataFrame([[15,'male', 'A_middle_school'], [17,'female', 'B_middle_school']], index=['JunSeo', 'YeEun'], columns=['age','gender','school'])
df

        age  gender           school
JunSeo   15    male  A_middle_school
YeEun    17  female  B_middle_school

In [17]:
df.rename(columns={'age':'Age', 'gender':'Gender', 'school':'School'}, inplace=True)
df

        Age  Gender           School
JunSeo   15    male  A_middle_school
YeEun    17  female  B_middle_school

In [18]:
df.rename(index={'JunSeo':'Stu1', 'YeEun':'Stu2'}, inplace=True)
df

      Age  Gender           School
Stu1   15    male  A_middle_school
Stu2   17  female  B_middle_school

In [19]:
exam_date = {
    'Math' : [90, 80,70],
    'English' : [98, 89,95],
    'music' : [85,93,56],
    'science' : [100,84,92]
}
df  = pd.DataFrame(exam_date, index=['JunSeo', 'YeEun', 'Gildong'])
df

         Math  English  music  science
JunSeo     90       98     85      100
YeEun      80       89     93       84
Gildong    70       95     56       92

In [20]:
df

         Math  English  music  science
JunSeo     90       98     85      100
YeEun      80       89     93       84
Gildong    70       95     56       92

In [21]:
df_after_drop = df.drop(df.index[2])
df_after_drop

        Math  English  music  science
JunSeo    90       98     85      100
YeEun     80       89     93       84

In [23]:
df3 = df[:]
df3.drop(['JunSeo',], inplace=True)
df3

/tmp/ipython-input-3533237364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['JunSeo',], inplace=True)

         Math  English  music  science
YeEun      80       89     93       84
Gildong    70       95     56       92

In [24]:
df4 = df[:]
df4.drop(['Math'], axis=1, inplace=True)
df4

/tmp/ipython-input-3201710026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(['Math'], axis=1, inplace=True)

         English  music  science
JunSeo        98     85      100
YeEun         89     93       84
Gildong       95     56       92

In [28]:
df5 = df[:]
df5.drop(['Math','English'], axis=1, inplace=True)
df5

/tmp/ipython-input-3306142522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['Math','English'], axis=1, inplace=True)

         music  science
JunSeo      85      100
YeEun       93       84
Gildong     56       92

In [29]:
# Select a row by its label using .loc
print("Row 'JunSeo' using .loc:")
print(df.loc['JunSeo'])

print("\n---")

# Select a row by its integer position using .iloc
print("First row (index 0) using .iloc:")
print(df.iloc[0])

Row 'JunSeo' using .loc:
Math        90
English     98
music       85
science    100
Name: JunSeo, dtype: int64

---
First row (index 0) using .iloc:
Math        90
English     98
music       85
science    100
Name: JunSeo, dtype: int64

In [31]:
math1 = df['Math']
print(math1)
print(type(math1))

JunSeo     90
YeEun      80
Gildong    70
Name: Math, dtype: int64
<class 'pandas.core.series.Series'>

In [32]:
music_eng = df[['music', 'English']]
print(music_eng)
print(type(music_eng))

         music  English
JunSeo      85       98
YeEun       93       89
Gildong     56       95
<class 'pandas.core.frame.DataFrame'>

In [33]:
exam_date = {
    'name' : ['JunSeo', 'YeEun', 'Gildong'],
    'Math' : [90, 80,70],
    'English' : [98, 89,95],
    'music' : [85,93,56],
    'science' : [100,84,92]
}
df = pd.DataFrame(exam_date)
df

      name  Math  English  music  science
0   JunSeo    90       98     85      100
1    YeEun    80       89     93       84
2  Gildong    70       95     56       92

In [34]:
df.set_index('name', inplace=True)
df

         Math  English  music  science
name
JunSeo     90       98     85      100
YeEun      80       89     93       84
Gildong    70       95     56       92

In [35]:
a = df.loc['JunSeo', 'English']
a

np.int64(98)

In [37]:
b = df.iloc[0,2]
b

np.int64(85)